{% extends 'base.html' %}
{% load static %}

{% block 'extrahead' %}
    <link rel="stylesheet" href="{% static "css/fitur_1.css"%}">
{% endblock 'extrahead' %}

{% block 'content' %}
<!-- Masthead -->
  <header class="masthead  text-center" style="min-height:70vh">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
            {% if messages %}
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="{{ message.tags }}">{{ message }}</div>
                </div>
                {% endfor %}
            {% endif %} 
          <h1 class="mb-5">Share your bike, share your happiness!</h1>
          <p class="display-4">Bikesharing</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Aman</h3>
            <p class="lead mb-0">Dengan setifikasi SSL menjamin keamanan transaksi</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Beragam</h3>
            <p class="lead mb-0">Jutaan jenis sepeda ada disini</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Terpercaya</h3>
            <p class="lead mb-0">Lebih dari 100.000 pengguna aktif tiap bulannya</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static "img/bg-showcase-1.jpeg"%});"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Aman</h2>
          <p class="lead mb-0">Transaksi aman bersama Bikesharing yang telah mendapatkan sertifikasi SSL. Keamanan akun anda adalah prioritas kami.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url({% static "img/bg-showcase-2.jpeg"%});"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Beragam</h2>
          <p class="lead mb-0">Sepeda Gunung? Sepeda Lipat? Sepeda Fixie? Tidak perlu bingung lagi karena semuanya ada disini.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static "img/bg-showcase-3.jpg"%});"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Terpercaya</h2>
          <p class="lead mb-0">Teman kamu? Saudara kamu? Calon mertua kamu? Semuanya sudah pakai Bikesharing</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">What people are saying...</h2>
      <div class="row">
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static "img/testimonials-1.jpg" %}" alt="">
            <h5>Irene Pixelyne R.</h5>
            <p class="font-weight-light mb-0">"Kerennn! Bakal pesen di Bikesharing terus pokoknya"</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static "img/testimonials-2.jpg" %}" alt="">
            <h5>Ray Azrin K.</h5>
            <p class="font-weight-light mb-0">"Aku pesen satu dikasih tiga. Terima kasih Bikesharing!"</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static "img/testimonials-3.jpg" %}" alt="">
            <h5>Nur Nisrina N.</h5>
            <p class="font-weight-light mb-0">"Kok foto kita sama, Kar"</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{% static "img/testimonials-3.jpg" %}" alt="">
            <h5>Karina Ivana</h5>
            <p class="font-weight-light mb-0">"Iya Nos, stok foto nya segini doang hehe"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            {% if request.session.role != "anggota" and request.session.role != "petugas" %}
              <a href="{% url 'fitur_1:signin' %}" class="btn btn-primary btn-lg">Sign Up!</a>
            {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock 'content' %}

{% block 'extrascript' %}
    <script src="{% static "js/fitur_1.js" %}"></script>
{% endblock 'extrascript' %}