{% extends 'base.html' %}
{% load static %}

{% block 'extrahead' %}
    <link rel="stylesheet" href="{% static "css/fitur_1.css"%}">
{% endblock 'extrahead' %}

{% block 'content' %}
<div class="mt-5" style="min-height:70vh">
    <div class="container">
        <h1 class="my-5 text-center">Daftar Laporan</h1>
            <table id="dataTable" class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">No</th>
                    <th scope="col">Id Laporan</th>
                    <th scope="col">Tanggal Pinjam</th>
                    <th scope="col">Anggota</th>
                    <th scope="col">Denda</th>
                    <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                      {% for i in laporan %}
                        <tr>
                            <th scope="row" class="counterCell">{{ forloop.counter }}</th>
                            <td>{{i.1}}</td>
                            <td>{{i.3}}</td>
                            <td>{{i.2}}-{{i.0}}</td>
                            <td>{{i.5}}</td>
                            <td>{{i.4}}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            <nav aria-label="" class="float-right">
                <ul class="pagination">
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                    </li>
                </ul>
            </nav>
    </div>
</div>

{% endblock 'content' %}

{% block 'extrascript' %}
    <script src="{% static "js/fitur_1.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "lengthMenu": [ 5, 10, 15, 25 ],
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script> 
{% endblock 'extrascript' %}