{% extends 'base.html' %}
{% load static %}

{% block 'extrahead' %}
    <link rel="stylesheet" href="{% static "css/fitur_1.css"%}">
{% endblock 'extrahead' %}

{% block 'content' %}
<div class="mt-5" style="min-height:70vh">
    <div class="container">
       <!-- Default form login -->
        <form class=" border border-light ml-auto mr-auto" method="POST" action="{% url 'fitur_1:signin' %}">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="{{ message.tags }}">{{ message }}</div>
                </div>
                {% endfor %}
            {% endif %} 
            <p class="mt-5 h4 mb-4 text-center">Sign in to Bikesharing</p>
            <div class="form-group">
                <label for="noKtpInput">No. KTP</label>
                <input type="number" class="form-control" name="ktp" id="noKtpInput" placeholder="1706012312">
            </div>
            <div class="form-group">
                <label for="emailInput">Alamat E-mail</label>
                <input type="email" class="form-control" name="email" id="emailInput" aria-describedby="emailHelp" placeholder="example@example.co">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
            <!-- Sign in button -->
        </form>
        <!-- Default form login -->
    </div>
</div>

{% endblock 'content' %}

{% block 'extrascript' %}
    <script src="{% static "js/fitur_1.js" %}"></script>
{% endblock 'extrascript' %}