{% extends 'base.html' %}
{% load static %}

{% block 'extrahead' %}
    <link rel="stylesheet" href="{% static "css/fitur_1.css"%}">
{% endblock 'extrahead' %}

{% block 'content' %}
<div class="mt-5" style="min-height:70vh">
    <div class="container">
       <!-- Default form login -->
        <form class=" border border-light ml-auto mr-auto" method="POST" action="{% url 'fitur_1:signup' %}">
        {% csrf_token %}
            <p class="h4 mb-4 text-center">Sign up to Bikesharing</p>
            {% if messages %}
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="{{ message.tags }}">{{ message }}</div>
                </div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <label for="noKtpInput">No KTP</label>
                <input required type="number" class="form-control" name="ktp" id="noKtpInput" minlength="1" maxlength="20"   placeholder="1706012312">
            </div>
            <div class="form-group">
                <label for="namaLengkapInput">Nama Lengkap</label>
                <input required type="text" class="form-control" name="nama" id="namaLengkapInput" placeholder="John Doe">
            </div>
            <div class="form-group">
                <label for="emailInput">Alamat E-mail</label>
                <input required type="email" class="form-control" name="email" id="emailInput" aria-describedby="emailHelp" placeholder="example@example.co">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="hpInput">Nomor Telepon</label>
                <input required type="number" class="form-control" name="telepon" id="hpInput" placeholder="081212345678">
            </div>
            <div class="form-group">
                <label for="lahirInput">Tanggal Lahir</label>
                <input required type="date" class="form-control" name="tanggal" id="lahirInput">
            </div>
            <div class="form-group">
                <label for="alamatInput">Alamat</label>
                <input required type="text" class="form-control" name="alamat" id="alamatInput" placeholder="Kos Pondok Elba">
            </div>
            Pilih Role <br>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-warning">
                    <input type="radio" name="role" id="option3" value="anggota" autocomplete="off" checked> Anggota
                </label>
                <label class="btn btn-warning">
                    <input type="radio" name="role" id="option2" value="petugas" autocomplete="off"> Petugas
                </label>
            </div>
            <button class="btn btn-info btn-block my-4" onclick="alertSuccess()" type="submit">Sign up</button>
            <!-- Sign in button -->
        </form>
        <!-- Default form login -->
    </div>
</div>

{% endblock 'content' %}

{% block 'extrascript' %}
    <script src="{% static "js/fitur_1.js" %}"></script>
{% endblock 'extrascript' %}