{% extends 'base.html' %}
{% load static %}

{% block 'extrahead' %}
    <link rel="stylesheet" href="{% static "css/fitur_1.css"%}">
{% endblock 'extrahead' %}

{% block 'content' %}
<div class="mt-5" style="min-height:70vh">
    <div class="container">
        <h1 class="my-5 text-center">Riwayat Transaksi</h1>
        {% if messages %}
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="{{ message.tags }}">{{ message }}</div>
                </div>
                {% endfor %}
            {% endif %} 
        <table id="dataTable" class="table table-hover">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Jenis transaksi</th>
                <th scope="col">Nominal</th>
                </tr>
            </thead>
            <tbody>
                {% for i in transaksi %}
                    <tr>
                    <th scope="row" class="counterCell">{{ forloop.counter }}</th>
                    <td>{{i.0}}</td>
                    <td>{{i.1}}</td>
                    <td>{{i.2}}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock 'content' %}

{% block 'extrascript' %}
    <script src="{% static "js/fitur_1.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "lengthMenu": [ 5, 10, 15, 25 ],
            }
            );
            $('.dataTables_length').addClass('bs-select');
        });
    </script> 
{% endblock 'extrascript' %}