{% extends 'base.html' %}
{% load static %}

{% block 'extrahead' %}
    <link rel="stylesheet" href="{% static "css/fitur_1.css"%}">
{% endblock 'extrahead' %}

{% block 'content' %}
<div class="mt-5" style="min-height:70vh">
    <div class="container">
       <!-- Default form login -->
        <form class=" border border-light ml-auto mr-auto" method="POST" action="{% url 'fitur_1:topup' %}">
            {% csrf_token %}
            <p class="mt-5 h4 mb-4 text-center">Topup Sharebike Pay</p>
            {% if messages %}
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="{{ message.tags }}">{{ message }}</div>
                </div>
                {% endfor %}
            {% endif %} 
            <div class="form-group">
                <label for="nominalInput">Nominal Amount</label>
                <input type="number" class="form-control" name="topup" id="nominalInput" placeholder="100000000" min="1" required="required">
            </div>
            <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
            {% comment %} <a href="./" class="btn btn-info btn-block my-4">Submit</a> {% endcomment %}
            <!-- Sign in button -->
        </form>
        <!-- Default form login -->
    </div>
</div>

{% endblock 'content' %}

{% block 'extrascript' %}
    <script src="{% static "js/fitur_1.js" %}"></script>
{% endblock 'extrascript' %}