{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Formulir Penugasan</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
    

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "css/one-page-wonder.min.css" %}" rel="stylesheet">  
</head>

<body>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="p-5">
          <h2 class="display-4" style=" text-align: center">Formulir Penugasan</h2>
          <div class="card card-signin my-5">
              <div class="card-body">
                <form action="/ValuePenugasan/" method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 mb-3"> 
                      <label for="petugas">Petugas</label>
                      <select class="custom-select d-block w-50 text-justify ml-1" required="" id="petugas" name="petugas">
                          <option value="">Choose...</option> Dropdown Action Separated link 
                          {% for ktp in responsePetugas %} 
                          <option value= '{{ ktp }}'>{{ ktp}}</option>
                          {% endfor %}
                        </select>
                      <div class="invalid-feedback"> Pilih Nomor KTP yang Valid</div>
                    </div>
                  </div>
                  <div class="mb-3"> 
                    <label for="tgl_mulai">Tanggal Mulai<span class="text-muted"></span></label>
                    <input type="datetime-local" class="form-control" id="tgl_mulai" name="tgl_mulai">
                    <div class="invalid-feedback"> Masukkan Tanggal Mulai Penugasan yang Valid </div>
                  </div>
                  <div class="mb-3"> 
                    <label for="tgl_akhir">Tanggal Akhir</label>
                    <input type="datetime-local" class="form-control" required="" name="tgl_akhir" id="tgl_akhir">
                    <div class="invalid-feedback"> Masukkan Tanggal Akhir Penugasan yang Valid </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mb-3"> <label for="country">Stasiun</label> 
                      <select class="custom-select d-block w-50 text-justify ml-1" required="" id="stasiun" name="stasiun">
                          <option value="">Choose...</option> Dropdown Action Separated link 
                          {% for id_stasiun in responseStasiun %} 
                          <option value= '{{ id_stasiun }}'>{{ id_stasiun}}</option>
                          {% endfor %}
                    </select>
                    </div>
                  </div>
                  <hr class="mb-4">
                  <button class="btn btn-lg btn-block btn-info" type="submit">Submit</button>
                </form>
              </div>
          </div>       
      </div>
    </div>
  </div>
</div>
</body>

{% endblock 'content' %}

{% block 'extrascript' %}
    <script src="{% static "js/fitur_1.js" %}"></script>
{% endblock 'extrascript' %}
</html>