{% extends 'base.html' %}
{% load static %}
{% block 'content' %}

{% block 'extrahead' %}
    <link rel="stylesheet" href="{% static "css/fitur_1.css"%}">
{% endblock 'extrahead' %}

<div class="mt-5" style="min-height:70vh">
    <div class="container">
        <h1 class="my-5 text-center">Daftar Acara</h1>
        <table class="table table-hover text-left" id="dataTable"> 
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Judul</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Tanggal Mulai</th>
                <th scope="col">Tanggal Akhir</th>
                <th scope="col">Is Free</th>

                {% if type == "admin" %}
                <th scope="col">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for acara in responseDaftarAcara %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ acara.1 }}</td>
                    <td>{{ acara.2 }}</td>
                    <td>{{ acara.3 }}</td>
                    <td>{{ acara.4 }} </td>
                    <td>{{ acara.5 }} </td>

                    {% if request.session.role == "petugas" %}
                    <td>
                        <form method="POST" action="/UpdateAcara/" class="col-md-1 text-center">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info" value='{{ acara.0 }}' methhod="POST" name="update">Update</button>
                        </form>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-info text-center" data-toggle="modal" data-target="#alertDelete" value='{{acara.0}}' name = "delete">Delete</button>
                            </div>
                    </td>
                    {% endif %}
                </tr>

                {% endfor %}
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="alertDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Konfirmasi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Anda yakin ingin menghapus acara ini?
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">Batal</a>
                    <form method="POST" action="/HapusAcara/">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" value="x" name="delete">Ya</button>
                    </form>
                </div>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock 'content' %}

{% block 'extrascript' %}
    <script src="{% static "js/fitur_1.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "lengthMenu": [ 5, 10, 15, 25 ],
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
{% endblock 'extrascript' %}