{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <title>Update Acara</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
  <link rel="stylesheet" href="wireframe.css">
  

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "css/one-page-wonder.min.css" %}" rel="stylesheet">  
</head>

<body>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="p-5">
          <h2 class="display-4" style=" text-align: center">Update Acara</h2>
          <div class="card card-signin my-5">
            <div class="card-body">
              <form action="/ValueUpdateAcara/" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-12 mb-3"> <label for="judul">Id Acara</label>
                    <input type="text" class="form-control" id="id_acara" placeholder="Id Acara" name="id_acara" value ="{{responseUpdate.0}}" readonly>
                    <div class="invalid-feedback"> Valid judul is required. </div>
                  </div>

                  <div class="col-md-12 mb-3"> <label for="judul">Judul</label>
                    <input type="text" class="form-control" id="judul_acara" placeholder="Judul Acara" name="judul_acara" value ="{{responseUpdate.1}}">
                    <div class="invalid-feedback"> Valid judul is required. </div>
                  </div>
                </div>
                <div class="mb-3"> <label for="deskripsi">Deskripsi</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Deskripsi" id="deskripsi_Acara" name="deskripsi" value ="{{responseUpdate.2}}">
                    <div class="invalid-feedback" style="width: 100%;"> Your deskripsi is required. </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3 p-0"> <label for="gratis">Gratis</label> 
                  <select class="custom-select d-block w-50 text-justify ml-1" required="" id="harga_acara" name="harga_acara">
                    <option value = "{{responseUpdate.5}}">{{responseUpdate.5}}</option> Dropdown Action Separated link 
                    <option value="Ya">Ya</option>
                    <option value="Tidak">Tidak</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="tanggalMulai">Tanggal Mulai<span class="text-muted"></span></label>
                  <input type="date" class="form-control" id="tgl_mulai" name="tgl_mulai" value="{{responseUpdate.3}}">
                  <div class="invalid-feedback"> Masukkan Tanggal Mulai Acara yang Valid</div>
                </div>

                <div class="mb-3"> <label for="tanggalLahir">Tanggal Akhir</label>
                  <input type="date" class="form-control" required="" name="tgl_akhir" id="tgl_akhir" value="{{responseUpdate.4}}">
                  <div class="invalid-feedback"> Masukkan Tanggal Berakhirnya yang Valid </div>
                </div>

                <div class="row">
                  <div class="col-md-12 mb-3"> <label for="stasiun">Stasiun</label> 
                    <select class="custom-select d-block w-50 text-justify ml-1" required="" id="stasiun" name="stasiun" multiple="multiple">
                      Dropdown Action Separated link
                      {% for stasiun in responseAcara %} 
                      <option value= '{{ stasiun.1 }}'>{{ stasiun.0}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-lg btn-block btn-info" type="submit" nama = 'update' value="{{responseUpdate.0}}">Update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
{% endblock 'content' %}

{% block 'extrascript' %}
    <script src="{% static "js/fitur_1.js" %}"></script>
{% endblock 'extrascript' %}