<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="{% url 'fitur_1:landing'%}">Bikesharing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="nav-list-left">
      {% if request.session.role == "anggota" %}
        <li class="nav-item">
                <a class="nav-link" href="{% url 'fitur_3:daftar_stasiun' %}">Daftar Stasiun</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'fitur_3:daftar_sepeda' %}">Daftar Sepeda</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Peminjaman
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'fitur_4:create_pinjaman' %}">Buat Peminjaman</a>
                    <a class="dropdown-item" href="{% url 'fitur_4:daftar_pinjaman' %}">Daftar Peminjaman</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Transaksi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'fitur_1:topup' %}">Top Up Sharebike Pay</a>
                    <a class="dropdown-item" href="{% url 'fitur_1:riwayat'%}">Riwayat Transaksi</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'fitur_2:Acara' %}">Daftar Acara</a>
            </li>
      {% elif request.session.role == "petugas" %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Penugasan
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'fitur_2:Daftar Penugasan' %}">Buat Penugasan</a>
                <a class="dropdown-item" href="{% url 'fitur_2:Penugasan' %}">Daftar Penugasan</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'fitur_3:daftar_stasiun' %}">Daftar Stasiun</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'fitur_3:daftar_sepeda' %}">Daftar Sepeda</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acara
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'fitur_2:Daftar Acara' %}">Buat Acara</a>
                <a class="dropdown-item" href="{% url 'fitur_2:Acara' %}">Daftar Acara</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'fitur_1:laporan' %}">Daftar Laporan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'fitur_4:daftar_pinjaman' %}">Daftar Peminjaman</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Voucher
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'fitur_4:create_voucher' %}">Buat Voucher</a>
              <a class="dropdown-item" href="{% url 'fitur_4:daftar_voucher' %}">Daftar Voucher</a>
          </div>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto" id="nav-list-right">
      {% if request.session.role == "anggota" or request.session.role == "petugas" %}
        {% if request.session.role == "anggota" %}
          <li class="nav-item">
            <a class="btn btn-info text-white" id="saldo">. . .</a>
          </li>
        {% endif %}
        <li class="nav-item">
            <a class="btn btn-danger" href="{% url 'fitur_1:signout' %}">Sign Out</a>
        </li>
      {% else %}
        <li class="nav-item mx-1">
          <a class="btn btn-primary" href="{% url 'fitur_1:signin' %}">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success" href="{% url 'fitur_1:signup' %}">Sign Up</a>
        </li>
      {% endif %}

    </ul>
  </div>
  </div>
</nav>
