{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>
            {% block 'pagetitle' %}Bikesharing{% endblock 'pagetitle' %}
        </title>

        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link href="{% static "vendor/simple-line-icons/css/simple-line-icons.css" %}"  rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link href="{% static "css/landing-page.min.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

        {% block 'extreahead' %}
        {% endblock 'extreahead' %}
    </head>

    <body>

    <!-- Navigation -->
        {% include 'component/navbar.html' %}

        <!-- Content-->
        {% block 'content' %}
        {% endblock 'content' %}


        <!-- Footer -->
        {% include 'component/footer.html' %}

        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script>
            {% if request.session.role == "anggota" %}
                $.ajax(
                    {
                    url: "{% url 'fitur_1:saldo' %}",
                        datatype: 'json',
                    method:'POST',
                    success: function(result){
                        
                        $("#saldo").html(
                        "Saldo: "+ result.saldo
                        );
                    }
                    }
                )
            {% endif %}
        </script>
        {% block 'extrascript' %}
        {% endblock 'extrascript' %}
    </body>

</html>

