{% extends 'base.html' %}
{% load static %}
{% block 'content' %}

<title>Pinjam</title>

<style>
  form {
    width:50%;
    height:450px;
    position:relative;
    }
      input {
    width:100%;
    height: 40px;
    border-radius:5px;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>


    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="p-5">
            <h2 class="display-4">Pinjam Sepeda</h2> <br><br>
            <form action="{% url 'fitur_4:create_pinjaman' %}" method="POST">
                {% csrf_token %}
                <div class="form-group col-md-12">
                  <label for="valueSepeda">Sepeda - Stasiun</label>
                  <select name="nama_sepeda" id="valueSepeda" class="form-control" placeholder="Sepeda - Stasiun" required >
                    {% for i in nama_sepeda %}
                      <option>{{i.0}}-{{i.1}}</option>
                    {% endfor %}
                  </select>
             </div>

                <!-- <div class="input-group">
                    <text>Sepeda Stasiun</text>
                    <select name="nama_sepeda" class="form-control" required data-live-search="true"><br><br>
                        {% for i in nama_sepeda %}
                            <option>{{ i.2 }}</option>
                        {% endfor %}
                    </select>
                </div> -->
                <br>
                        <!-- <i class="fas fa-bicycle"> Pinjam Sepeda</i> -->
                        <a href="{% url 'fitur_4:daftar_pinjaman' %}" class="btn btn-primary rounded-pill">Pinjam</a></td>
                   
               
            </form>

              <br><br>
             
          </div>
        </div>
      </div>
    </div>

{% endblock 'content' %}

{% block 'extrascript' %}
    <script src="{% static "js/fitur_1.js" %}"></script>
{% endblock 'extrascript' %}
