{% extends 'base.html' %}
{% load static %}

{% block 'content' %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Create Voucher</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
  

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "css/one-page-wonder.min.css" %}" rel="stylesheet">

</head>

<style>
    form {
    width:50%;
    height:450px;
    position:relative;
    }
      input {
    width:100%;
    height: 40px;
    border-radius:5px;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style> 

<body>
  <center>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="p-5">
            <h2 class="display-4">Create Voucher</h2>
            <form method="POST">
              {% csrf_token %}
              <div class="form-label-group">
                  <label for="inputNamaVoucher">Nama</label>
                  <input name="nama" type="text" id="inputNamaVoucher" class="form-control" required>
              </div>
              <div class="form-label-group">
                  <label for="inputNamaVoucher">Kategori Voucher</label>
                  <select name="kategori" id="inputKategoriVoucher" class="form-control" required >
                    {% for i in voucher %}
                      <option>{{i.0}}</option>
                    {% endfor %}
                  </select>
                  </div>
              <div class="form-label-group">
                  <label for="inputPoinVoucher">Nilai Poin</label>
                      <input name="nilai_poin" type="number" id="inputPoinVoucher" class="form-control" required autofocus>
              </div>

              <div class="form-label-group">
                  <label for="inputDeskripsiVoucher">Deskripsi</label>
                      <input name="deskripsi" type="text" id="inputDeskripsiVoucher" class="form-control" required>
                     
              </div>
              <div class="form-label-group">
                  <label for="inputJumlahVoucher">Jumlah</label>
                      <input name="jumlah" type="number" id="inputJumlahVoucher" class="form-control" required>
              </div>

            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Create</button>

          </form>

            <!-- <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <p>{{ field.label_tag }} <br> {{ field }}</p>
                {% endfor %}
                <input style="margin-bottom:10px" class="btn btn-info btn-lg" id="submit" type="submit" value="Submit" >
            </form> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</center>

</body>

</html>

{% endblock 'content' %}

{% block 'extrascript' %}
    <script src="{% static "js/fitur_1.js" %}"></script>
{% endblock 'extrascript' %}
