{% extends 'base.html' %}
{% load static %}

{% block 'content' %}

<!DOCTYPE html>
<script>
  function deleteList(x){
    $(".cd-popup").addClass("is-visible")
    $(".cd-popup").attr('id',x)
}

function updateVoucher(){
    // length = $(".stasiun").attr('id')
    id_voucher = $(".modal-body").attr('id')
    nama = $('#namaVoucher').val()
    if(nama==''){
        nama = $('#namaVoucher').attr('placeholder')
    }
    kategori = $('#kategoriVoucher').val()
    if(kategori==''){
        kategori=$('#kategoriVoucher').attr('placeholder')
    }
    poin = $('#poinVoucher').val()
    if(poin==''){
        poin = $('#poinVoucher').attr('placeholder')
    }
    deskripsi = $('#deskripsiVoucher').val()
    if(deskripsi==''){
        deskripsi = $('#deskripsiVoucher').attr('placeholder')
    }
    jumlah = $('#jumlahVoucher').val()
    if(jumlah==''){
        jumlah = $('#jumlahVoucher').attr('placeholder')
    }
    alert(jumlah)

    // list_stasiun=[]
    // for(i=0; i<length;i++){
    //    list_stasiun.push(
    //        $(`#inputStasiun`+i).val()
    //
    //    )
    // }
    all_data={
        'id_voucher':id_voucher,
        'nama':nama,
        'kategori':kategori,
        'poin':poin,
        'deskripsi':deskripsi,
        'jumlah':jumlah,
        // 'stasiun':list_stasiun,
    }
    console.log(all_data)


    $.ajax(
        {
          url: "/voucher/update-voucher/",
            datatype: 'json',
            data: all_data,
          method:'POST',
          success: function(result){
            location.reload()
            } ,
            error:function(a){
                console.log(a)
                location.reload();

            }

        }
    );

}


function cancelFunction(){
    $('.cd-popup').removeClass('is-visible')
}

function yesFunction(){
    id = $(".cd-popup").attr('id')
    console.log("hello")
    $.ajax(
        {
          url: "/voucher/delete-voucher/",
            datatype: 'json',
            data: {'id':id},
          method:'POST',
          success: function(result){
            location.reload()
            }
        }
        );
}

function updateModal(x){
    $(".modal-body").attr('id',x)
    $(".modal-body").attr('id',x)
    $(".spinner-border").addClass("true")
    $(".spinner-border").removeClass("false")
    $("#load").addClass("false")
    $("#load").removeClass("true")
    $.ajax(
        {
          url: "/voucher/detail-update-voucher/",
            datatype: 'json',
            data: {'id':x},
          method:'POST',
          success: function(result){
            $(".spinner-border").addClass("false")
            $(".spinner-border").removeClass("true")
            $("#load").addClass("true")
            $("#load").removeClass("false")
            console.log(result)

            all_kategori=''
            for(i=0; i<result.kategori.length;i++){
                all_kategori+='<option>'+result.kategori[i]+'</option>'
            }
            kategori=''
            for(j=0;j<result.kategori.length;j++){
                kategori+=`<label for="formGroupExampleInput2">Kategori</label>
                <select name="kategori" id="kategoriVoucher`+j+`" class="form-control"placeholder="Kategori"required>
                    <option selected>`+result.kategori[j]+`</option>`+
                    all_kategori+`
                </select>`

            }
            $('#namaVoucher').attr('placeholder',result.voucher[1])
            $('#jumlahVoucher').attr('placeholder',result.voucher[6])
            $('#poinVoucher').attr('placeholder',result.voucher[3])
            $('#deskripsiVoucher').attr('placeholder',result.voucher[4])
            $('#kategoriVoucher').html(kategori)
            $('.voucher').attr('id',result.kategori.length)
            }
        }
        );

}

</script>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  

  <title>Daftar Voucher</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
  

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "css/one-page-wonder.min.css" %}" rel="stylesheet">

</head>

<style>
    form {
    width:50%;
    height:450px;
    position:relative;
    }
      input {
    width:100%;
    height: 40px;
    border-radius:5px;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 2px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style> 

<body>
  <center>
    <script>
        function myFunction() {
          confirm("Delete voucher?");
        }
        </script>
    <div class="container text-align:text-center">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="p-5">
                <h2 class="display-4">Daftar Voucher</h2>
                <div class="card-body p-5">
                    <br>
                        <table id ="dtBasic" class="table text-center table-hover ">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Kategori</th>
                                    <th scope="col">Nilai Poin</th>
                                    <th scope="col">Deskripsi</th>
                                    <th scope="col">Jumlah</th>
                                    <th scope="col">Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for i in voucher %}
                                  <tr>
                                    <th scope="row">{{i.1}}</th>
                                    <td>{{i.2}}</td>
                                    <td>{{i.3}}</td>
                                    <td>{{i.4}}</td>
                                    <td>{{i.6}}</td>
                                    <td>
                                      <i class="fas fa-edit" id="{{i.0}}" data-toggle="modal" onclick="updateModal(this.id)" data-target="#exampleModalCenter"></i>
                                      <i class="fas fa-trash-alt" id="{{i.0}}" onclick="deleteList(this.id)"></i>
                                  </td>
                                  </tr>
                                 {% endfor %}
                                </tbody>
                              </table>
                </div>
            </div>
              </div>
              </div>
              </div>
              </div>
   <!-- Modal -->
   <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content voucher">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Update Voucher</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="spinner-border false"role="status">
                  <span class="sr-only">Loading...</span>
              </div>
          
              <form id="load" class="true">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Nama</label>
                    <input type="text" class="form-control" id="namaVoucher" placeholder="Nama">
                  </div>
                  <div class="form-group" id="kategori">
                      <label for="formGroupExampleInput2">Kategori</label>
                      <select name="kategori" id="kategoriVoucher" class="form-control" placeholder="Kategori"required>
                          <option></option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="formGroupExampleInput2">Nilai Poin</label>
                      <input type="number" class="form-control" id="poinVoucher" placeholder="Poin">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Deskripsi</label>
                        <input type="text" class="form-control" id="deskripsiVoucher" placeholder="Deskripsi">
                      </div>
                  <div class="form-group">
                        <label for="formGroupExampleInput2">Jumlah</label>
                        <input type="number" class="form-control" id="jumlahVoucher" placeholder="Jumlah">
                      </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="updateVoucher()">Save changes</button>
            </div>
        </div>
      </div>
    </div>
</div>


  <!-- Footer -->
  <!-- <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Basis Data 2019</p>
    </div>
   /.container -->
  <!-- </footer> --> 

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</center>
</body>

</html>

{% endblock 'content' %}

{% block 'extrascript' %}
    <script src="{% static "js/fitur_1.js" %}"></script>
{% endblock 'extrascript' %}