{% extends 'base.html' %}
{% load static %}

{% block 'content' %}

<style>
  form {
    width:50%;
    height:450px;
    position:relative;
    }
      input {
    width:100%;
    height: 40px;
    border-radius:5px;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>



    <script>
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
        </script>

<section> 
    <div class="container">
        <div class="card border-0 shadow my-5">
      <br><br>
        
            <div class="card-body p-5">
                <h1>DAFTAR PEMINJAMAN</h1>
               
            
            <table class="table table-striped" id="myTable">
                <thead class="thead-dark">
                    <tr>
                        <th onclick="sortTable(0)">No. Kartu Anggota</th>
                        <th onclick="sortTable(1)">Sepeda</th>
                        <th onclick="sortTable(2)">Stasiun</th>
                        <th onclick="sortTable(3)">Waktu Kembali</th>
                        <th onclick="sortTable(4)">Biaya</th>
                        <th onclick="sortTable(5)">Denda</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in pinjaman %}
                    <tr>
                      <th scope="row">{{i.0}}</th>
                      <td>{{i.2}}</td>
                      <td>{{i.3}}</td>
                      <td>{{i.4}}</td>
                      <td>{{i.5}}</td>
                        <td>{{i.6}}</td>
                      <td>
                          <button class="btn btn-primary" onclick="kembalikan()">Kembalikan</button>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination">
              <span class="step-links">
              {% if all_posts.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ all_posts.previous_page_number }}">previous</a>
              {% endif %}
              
              <span class="current">
              Page {{ all_posts.number }} of {{ all_posts.paginator.num_pages }}.
              </span>
              
              {% if all_posts.has_next %}
              <a href="?page={{ all_posts.next_page_number }}">next</a>
              <a href="?page={{ all_posts.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
              </span>
              </div>
              
            
            </div>
        </div>


       
 
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


{% endblock 'content' %}

{% block 'extrascript' %}
    <script src="{% static "js/fitur_1.js" %}"></script>
{% endblock 'extrascript' %}
