{% extends 'base.html' %} {% load static %} {% block 'content' %}
<!-- Masthead -->

{% block 'extrahead' %}
<link rel="stylesheet" href="{% static " css/fitur_1.css "%}"> {% endblock 'extrahead' %}

<div class="mt-5" style="min-height:70vh">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">
                    <center>Daftar Stasiun</center>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Filter
                            </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                    </div>
                </div>
            </div>
            <div class="col text-left">
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sorting
                            </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/daftar-stasiun/sorted-nama">Nama</a>
                        <a class="dropdown-item" href="/daftar-stasiun/sorted-alamat">Alamat</a>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col "><h4>No</h4></th>
                        <th scope="col "><h4>Nama Stasiun</h4></th>
                        <th scope="col "><h4>Alamat</h4></th>
                        <th scope="col "><h4>Latitude</h4></th>
                        <th scope="col "><h4>Longitude</h4></th>
                        <th scope="col "><h4><center>Action</center></h4></th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in stasiun %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ s.0 }}</td>
                            <td>{{ s.1 }}</td>
                            <td>{{ s.2 }}</td>
                            <td>{{ s.3 }}</td>
                            <td>
                                <a type="button " class="btn btn-block btn-lg btn-primary " href="/update-stasiun">Update</a>
                                <a type="button " class="btn btn-block btn-lg btn-primary " data-toggle="modal " data-target="#delete-confirmation-modal ">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav>
            <ul class="pagination ">
                <li class="page-item ">
                <a class="page-link " href="# " aria-label="Previous ">
                    <span aria-hidden="true ">&laquo;</span>
                    <span class="sr-only ">Previous</span>
                </a>
                </li>
                <li class="page-item "><a class="page-link " href="# ">1</a></li>
                <li class="page-item "><a class="page-link " href="# ">2</a></li>
                <li class="page-item "><a class="page-link " href="# ">3</a></li>
                <li class="page-item ">
                <a class="page-link " href="# " aria-label="Next ">
                    <span aria-hidden="true ">&raquo;</span>
                    <span class="sr-only ">Next</span>
                </a>
                </li>
            </ul>
        </nav>
        <div class="modal fade " id="delete-confirmation-modal " tabindex="-1 " role="dialog " aria-labelledby="exampleModalCenterTitle " aria-hidden="true ">
                <div class="modal-dialog modal-dialog-centered " role="document ">
                    <div class="modal-content ">
                    <div class="modal-header ">
                        <h5 class="modal-title " id="exampleModalCenterTitle ">Konfirmasi</h5>
                        <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
                        <span aria-hidden="true ">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body ">
                        Stasiun akan dihapus?
                    </div>
                    <div class="modal-footer ">
                        <a type="button " class="btn btn-secondary " data-dismiss="modal ">Batalkan</a>
                        <a type="button " class="btn btn-primary " href="/daftar-stasiun ">Ya</a>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</header>
{% endblock 'content' %}

{% block 'extrascript' %}
    <script src="{% static "js/fitur_1.js" %} "></script>
{% endblock 'extrascript' %}