{% extends 'base.html' %} {% load static %} {% block 'content' %}
<!-- Masthead -->

{% block 'extrahead' %}
<link rel="stylesheet" href="{% static " css/fitur_1.css "%}"> {% endblock 'extrahead' %}

<div class="mt-5" style="min-height:70vh">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">
                    <center>Daftar Sepeda</center>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Filter
                                </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/daftar-sepeda/tersedia">Ketersediaan</a>
                    </div>
                </div>
            </div>
            <div class=" col text-left ">
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sorting
                                </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " href="/daftar-sepeda/sorted-nomor">Nomor</a>
                        <a class="dropdown-item " href="/daftar-sepeda/sorted-jenis">Jenis</a>
                        <a class="dropdown-item " href="/daftar-sepeda/sorted-stasiun">Stasiun</a>
                        <a class="dropdown-item " href="/daftar-sepeda/sorted-penyumbang">Penyumbang</a>
                    </div>
                </div>
            </div>
        </div><br>
        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col ">
                                        <h4>Nomor</h4>
                                    </th>
                                    <th scope="col ">
                                        <h4>Merk</h4>
                                    </th>
                                    <th scope="col ">
                                        <h4>Jenis</h4>
                                    </th>
                                    <th scope="col ">
                                        <h4>Stasiun</h4>
                                    </th>
                                    <th scope="col ">
                                        <h4>Tersedia</h4>
                                    </th>
                                    <th scope="col ">
                                        <h4>Penyumbang</h4>
                                    </th>
                                    <th scope="col ">
                                        <h4>
                                            <center>Action Admin</center>
                                        </h4>
                                    </th>
                                    <th scope="col ">
                                        <h4>
                                            <center>Action Anggota</center>
                                        </h4>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in sepeda %}
                                <tr>
                                    <td>{{ s.0 }}</td>
                                    <td>{{ s.1 }}</td>
                                    <td>{{ s.2 }}</td>
                                    <td>{{ s.3 }}</td>
                                    <td>{{ s.4 }}</td>
                                    <td>{{ s.5 }}</td>
                                    <td>
                                        <a type="button " class="btn btn-block btn-lg btn-primary " href="/update-sepeda">Update</a>
                                        <a type="button " class="btn btn-block btn-lg btn-primary " data-toggle="modal " data-target="#delete-confirmation-modal ">Delete</a>
                                    </td>
                                    <td>
                                        <button type="button " class="btn btn-block btn-lg btn-primary " href="update-stasiun/{{ s.id }} ">Pinjam</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                            <nav>
                                <ul class="pagination ">
                                    <li class="page-item ">
                                        <a class="page-link " href="# " aria-label="Previous ">
                                            <span aria-hidden="true ">&laquo;</span>
                                            <span class="sr-only ">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item "><a class="page-link " href="# ">1</a></li>
                                    <li class="page-item "><a class="page-link " href="# ">2</a></li>
                                    <li class="page-item "><a class="page-link " href="# ">3</a></li>
                                    <li class="page-item ">
                                        <a class="page-link " href="# " aria-label="Next ">
                                            <span aria-hidden="true ">&raquo;</span>
                                            <span class="sr-only ">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                    </div>
                    </header>
                    {% endblock 'content' %} {% block 'extrascript' %}
                    <script src="{% static " js/fitur_1.js " %} "></script>
                    {% endblock 'extrascript' %}