{% extends 'base.html' %} {% load static %} {% block 'content' %}
<!-- Masthead -->

{% block 'extrahead' %}
<link rel="stylesheet" href="{% static " css/fitur_1.css "%}"> {% endblock 'extrahead' %}

<div class="mt-5" style="min-height:70vh">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">
                    <center>FORM PENAMBAHAN STASIUN</center>
                </h1>
            </div>
        </div>
        <form>
            <div class="form-group">
                <label for="usr" style="text-align: left">Nama:</label><br>
                <input required type="text" class="form-control" name="merk" id="noKtpInput" minlength="1" maxlength="20">

                <label for="usr">Alamat:</label><br>
                <input required type="text" class="form-control" name="jenis" id="noKtpInput" minlength="1" maxlength="20">

                <label for="usr">Latitude:</label><br>
                <input required type="text" class="form-control" name="status" id="noKtpInput" minlength="1" maxlength="20">

                <label for="usr">Longitude:</label><br>
                <input required type="text" class="form-control" name="ktp" id="noKtpInput" minlength="1" maxlength="20">

            </div>
        </form>
        <button type="submit" class="btn btn-block btn-lg btn-primary">Submit</button><br><br>
    </div>
    </header>
    {% endblock 'content' %}