{% extends 'base.html' %} {% load static %} {% block 'content' %}
<!-- Masthead -->

{% block 'extrahead' %}
<link rel="stylesheet" href="{% static " css/fitur_1.css "%}"> {% endblock 'extrahead' %}

<div class="mt-5" style="min-height:70vh">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">
                    <center>FORM UPDATE STASIUN</center>
                </h1>
            </div>
        </div>
        <form>
            <div class="form-group">
                <label for="usr" style="text-align: left">Nama:</label>
                <input type="text" class="form-control" id="usr" value="{{ s.0 }}">

                <label for="usr">Alamat:</label>
                <input type="text" class="form-control" id="usr" value="{{ s.1 }}">

                <label for="usr">Latidude:</label>
                <input type="text" class="form-control" id="usr" value="{{ s.2 }}">

                <label for="usr">Longitude:</label>
                <input type="text" class="form-control" id="usr" value="{{ s.3 }}">

            </div>
        </form>
        <button type="submit" class="btn btn-block btn-lg btn-primary">Update</button><br><br>
    </div>
    </header>
    {% endblock 'content' %} {% block 'extrascript' %}
    <script src="{% static " js/fitur_1.js " %} "></script>
    {% endblock 'extrascript' %}